
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-lg-2">
        @Html.Partial("NavigationBar")
    </div>

    <div class="col-lg-10">
        @Html.Partial("Top3products", MvcProject.Controllers.HomeController.client.GetProducts())

    </div>
</div>