
@{
    ViewBag.Title = "Home Page";
}


    @Html.Partial("NavigationBar")


<div class="col-lg-8">
    @Html.Partial("Top3products", MvcProject.Controllers.HomeController.client.GetProducts())

</div>
