@model MvcProject.BuyNet.User

@{
    ViewBag.Title = "Home Page";
}

<link href="http://style.aliunicorn.com/css/6v/??run/wholesale/reset.css,run/wholesale/font.css,apollo/core/core-ws.css?t=133438bc8_3337ca690" rel="stylesheet" type="text/css" media="all" />


<div class="col-lg-12" id="aComDiv" style="position:relative;"><b><span style="color:red">50%</span> discount on Elctronic Devisece   <span style="color:red">30%</span> discount on women lundery   <span style="color:red">25%</span> on hair Productions   <span style="color:red">15%</span> discount on books </b><b><span style="color:red">Free</span> shipping </b> </div>

  
    <div  id="seen" style="max-width:1490px">
        <div class="col-lg-1" id="Nav">
            @Html.Partial("NavigationBar")
        </div>

        <div class="col-lg-11" id="Curent">
@*@Html.Partial("Top3products")*@
        </div>
    </div>


   


    <script>
       
        function loadPage() {
            $.get('/Home/Top3products', function (res) {
                console.debug('load page');
                //$('#Curent').html(res);
                $('#Curent')[0].innerHTML = res;
            });
        }
        
        //function Remove() {
        //    var id = id;

        //    var xMLHttpRequest = new XMLHttpRequest();
        //    xMLHttpRequest.open("GET", "/Home/Top3products", true);
        //    xMLHttpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //    xMLHttpRequest.send();
        //    xMLHttpRequest.onreadystatechange = function () {
        //        if (xMLHttpRequest.readyState == 4 && xMLHttpRequest.status != 200) {
        //            alert("Failed to load");
        //        }
        //        else {

        //            document.getElementById("Curent").innerHTML = xMLHttpRequest.responseText;
        //        }
        //    }
        //}

            //function nav() {
            //    var id = id;

            //    var xMLHttpRequest = new XMLHttpRequest();
            //    xMLHttpRequest.open("GET", "/Home/NavigationBar", true);
            //    xMLHttpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            //    xMLHttpRequest.send();
            //    xMLHttpRequest.onreadystatechange = function () {
            //        if (xMLHttpRequest.readyState == 4 && xMLHttpRequest.status != 200) {
            //            alert("failed to load")
            //            document.getElementById("Nav").innerHTML = xMLHttpRequest.responseText;
            //        }
            //        else {

            //            document.getElementById("Nav").innerHTML = xMLHttpRequest.responseText;
            //        }
            //    }
            //}
        loadPage();
            //nav();

            var e = document.getElementById("aComDiv");
            var s = 1;

            setInterval(function () {

                var eLeftPos = e.offsetLeft;
                e.style.left = (eLeftPos + s) + 'px';
                if (parseInt(e.style.left) > 1000) { e.style.left = '0px'; }

            }, 1000);
        
    </script>


