
@{
    ViewBag.Title = "SellNewProduct";
}

<h2 style="font:italic">Sell New Product</h2>


<div>
    Product name: <input type="text" /><br />

    
    Category:                        Sub Category: <br />


    Description: <input type="text" size="150"/><br />

    Item Condition:    <input type="checkbox" /> new  <input type="checkbox" /> Used

</div>
<div id="cctype" class="radio ccIcon cctype"><label class="radio visa" id="pm-visa" for="visa"><input id="visa" type="radio" name="credit_card_type" value="V"><span class="cclogo visa"> </span><span>ויזה</span></label><label class="radio mc" id="pm-mastercard" for="mastercard"><input class="mc_subtype" id="mastercard" type="radio" name="credit_card_type" value="M"><span class="cclogo mc"> </span><span>מאסטרקארד</span></label><label class="radio disc" id="pm-discover" for="discover"><input id="discover" type="radio" name="credit_card_type" value="D"><span class="cclogo disc"> </span><span>Discover‏</span></label><label class="radio amex" id="pm-amex" for="amex"><input id="amex" type="radio" name="credit_card_type" value="A"><span class="cclogo amex"> </span><span>אמריקן&#x20;אקספרס</span></label></div><
 