
@{
    ViewBag.Title = "SellNewProduct";
}
<style>
    #main{
width:910px;
height:2000px;
margin:100px auto;
}
label {
    display:block;
    margin-top:30px;
    letter-spacing:2px;
}
input{
width:150px;
padding:10px;
margin-top:10px;
margin-bottom:35px;
border-radius:5px;
border:1px solid #cbcbcb;
font-size:16px
}
textarea{
width:400px;
height:100px;
padding:10px;
margin-top:10px;
margin-bottom:35px;
border-radius:5px;
border:1px solid #cbcbcb;
font-size:16px
}



</style>
Sell new product
<div id="main">
    <div id="first">
        <h1>Sell New Product</h1>

        <from>
            <label>Product Name:<input type="text" /> </label>
            <label>
                Category:
                <select><option></option></select>
                Sub Category: <select><option></option></select>
            </label>
            <label>
                Description:
                <textarea maxlength="80"></textarea>
            </label>

            <label>
                item condition:
                <span> new <input type="radio" name="optradio"></span>
                <span>used<input type="radio" name="optradio"></span>
            </label>
            <label>
                Brand:<input type="text" maxlength="20" />
            </label>

            <label>
                Price:     US $<input type="number" min="1" />
            </label>

            <h1>Shipping</h1>

            <br />


            <label>
                Shipping to:
                <span>
                    <input type="radio" name="optradio">worldwide
                    <input type="radio" name="optradio">Other:<input type="text" />
                </span>
                <label> Shipping Cost: US $<input type="number" /></label>

                <label>  Delivery:  Maximum<input type="number" min="1" max="31" />days. </label>
            </label>

            <label>
                Get Paid:
                <span>
                    <input type="radio" name="optradio">
                    <img src="~/imgPay/visaImg.jpg" width="65" height="25" />
                    <input type="radio" name="optradio">
                    <img src="~/imgPay/PayPal.jpg" width="60" height="60" />
                </span>
            </label>

            <button type="button" class="btn btn-info">Save</button>

        </from>
    </div>
</div>


