<link href="~/StyleVIewPages/YourDetailsCss.css" rel="stylesheet" />
@{
    ViewBag.Title = "YourDeatails";
}



<div class="row">

    <div id="main">
        <div id="first">
            <h2>Your Deatails</h2>

            <form class="col-md-8" method="post">
                <label>
                    First Name: <input type="text" name="firstName" /> Last Name: <input type="text" name="lastName" />
                </label>
                <label>
                    Country: <select><option>Choose</option></select> City : <input type="text" name="city" />
                </label>
                <label>
                    Street: <input type="text" name="street" /> no.<input type="number" name="streetNum" />
                </label>
                <label>
                    Zip Code:  <input type="number" name="zipCode" />
                </label>

                <label>Notes</label>
                <textarea name="message" placeholder="Type Here"></textarea>



                <label>Get Paid:  </label>
                <label class="radio-inline">
                    <input type="radio" name="visa">
                    <img src="~/imgPay/visaImg.jpg" width="65" height="25" />
                </label>
                <label class="radio-inline">
                    <input type="radio" name="payPal">
                    <img src="~/imgPay/PayPal.jpg" width="50" height="50" />
                </label>
                <label>
                    <button type="button" class="btn btn-info">BUY NOW</button>
                </label>

            </form>
            <div class="col-md-4" dir="rtl">
                <img src="~/images/5.jpg" />
                <label>product name</label>
                <label>
                    Quantity:<input type="number" name="quantity" min="1" max="10" /> Shipping Cost: US $
                </label>
                <label>
                    Price: US $
                </label>

            </div>
        </div>
    </div>

</div>

